* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}

nav {
    font-weight: 400;
    text-transform: uppercase;
    font-size: 1em;
    padding:15px 0;
}

nav, #reel {
    background-color:#004358;
}

nav a {
    color:#fff;
}

nav a:hover {
    color:#92cae0;
}

#brand {
    background-image: url(images/bg-head.jpg);
    background-size: cover;
    background-position: center;
}

.logo img {
    width: 80%;
}

.head img {
    width:85%;
}


p {
    font-weight: 300;
    font-size:1.2em;
}

h2 {
    font-family: 'Alfa Slab One', cursive;
    font-size: 3em;
    text-transform: uppercase;
}

#about {
    background-color: #fff;
}

#about h2 {
    color:#004358;
}

.resume img {
    width: 330px;
}

.sidekick img {
    width: 90%;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.portfolio-item {
    margin:0 0 30px 0;
}

#work {
    background-image: url(images/bg-portfolio.jpg);
    background-size: cover;
}

#work h2 {
    color:#fff;
}

#contact {
    background-color: #fff;
}

.tools {
    display: block;
    position: relative;
    bottom:-100px;
}

#footer {
    background-color: #004358;
    color:#fff;
}

#footer h1 {
    font-size: 4.9em;
    font-weight: 700;
    margin:0 0 -15px 0;
    padding:0;
}

#footer span {
    font-size: 1.3em;
    font-weight: 300;
    margin-top:-20px;
}

#footer .logos {
    margin:15px;
}

.logos img {
    margin-right:10px;
}

#footer .copyright {
    font-weight: 300;
    font-size: 0.7em;
}

/* animate while scrolling */

section {
  overflow: hidden;
}

.module:nth-child(even) {
  margin-right: 0;
}

.come-in {
  transform: translateY(150px);
  animation: come-in 0.8s ease forwards;
}

.come-in:nth-child(odd) {
  animation-duration: 0.6s;
}

.already-visible {
  transform: translateY(0);
  animation: none;
}

@keyframes come-in {
  to {
    transform: translateY(0);
  }
}

/* modal parameters */

.modal-content {
    border-radius: 0;
    background-color:transparent;
    border:none;
    text-align: center;
}

.modal-header {
    border-bottom:none;
}

.modal-header .close {
    color:#fff;
}

.modal-dialog {
    min-width:100%;
}

.video-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}

.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}